body {
  background-color: #f5f6f7;
  font-family: Tahoma, sans-serif;
  color: #1b1b32;
  font-size: 16px;
}


#img-div, #img-div img {
  text-align: center;
  display: block; 
  max-width: 100%;
  height: auto;
  object-fit: cover;
  margin: 10px auto;
}


h1 {
  text-align: center;
}

p {
  margin: 1em 2em;
}
.separator {
  background-color: #1b1b32;
  border: 1px solid #1b1b32;
}

a:hover {
  color: brown;
}
